<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta chrset="utf-8" />
    <title>逵坤建筑-工程案例</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" th:content="${ttk.sdescription}">
    <meta name="keywords" th:content="${ttk.skeywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- layout文件路径-->
    <div th:include="common/layout::css" th:remove="tag"></div>
    <div th:include="common/layout::js" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{~/pub/css/site.css}">
    <link rel="stylesheet" th:href="@{~/pub/css/directionReveal.css}">
    <script>
        $(function(){
            $(".product-tab ul li").click(function(){
                var index=$(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $('.case-content .direction-reveal').removeClass('display');
                $('.case-content .direction-reveal').eq(index).addClass('display');
            });
        });
    </script>

</head>
<body>
<div th:include="common/layout::nav" th:remove="tag"></div>
<img src="" alt="" class="bigimg">
<div class="mask"></div>
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 hidden-xs">
                <div class="product-le">
                    <img th:src="@{~/pub/images/product-le-img.jpg}" class="img-fluid" id="demo">
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="product-rg product-rg-real">
                    <label class="right-k hidden-xs" id="lg"></label>
                    <div class="product-tab">
                        <ul>
                            <li class="active">办公楼厂房装修</li>
                            <li>商业装修工程</li>
                            <li>餐饮装修工程</li>
                            <li>酒店装修工程</li>
                        </ul>
                    </div>
                    <div class="case-content">
                        <div class="col-padding-3">
                            <!--办公楼厂房装修-->
                            <div class="direction-reveal direction-reveal--3-grid-flexbox direction-reveal--demo-slide display">
                                <a th:href="@{~/product-view(productid=${obj.id})}" class="direction-reveal__card" th:each="obj:${changfang}">
                                    <img th:src="${obj.simageurl}" class="img-fluid smallimg" th:alt="${obj.salt}">
                                    <h2 th:text="${obj.sname}"></h2>
                                    <p th:text="${obj.sprofiles}"></p>

                                </a>
                            </div>
                            <!--商业装修工程-->
                            <div class="direction-reveal direction-reveal--3-grid-flexbox direction-reveal--demo-slide">
                                <a th:href="@{~/product-view(productid=${obj.id})}" class="direction-reveal__card" th:each="obj:${shangye}">
                                    <img th:src="${obj.simageurl}" class="img-fluid smallimg" th:alt="${obj.salt}">
                                    <h2 th:text="${obj.sname}"></h2>
                                    <p th:text="${obj.sprofiles}"></p>
                                </a>
                            </div>
                            <!--餐饮装修工程-->
                            <div class="direction-reveal direction-reveal--3-grid-flexbox direction-reveal--demo-slide">
                                <a th:href="@{~/product-view(productid=${obj.id})}" class="direction-reveal__card" th:each="obj:${canyin}">
                                    <img th:src="${obj.simageurl}" class="img-fluid smallimg" th:alt="${obj.salt}">
                                    <h2 th:text="${obj.sname}"></h2>
                                    <p th:text="${obj.sprofiles}"></p>
                                </a>
                            </div>
                            <!--酒店装修工程-->
                            <div class="direction-reveal direction-reveal--3-grid-flexbox direction-reveal--demo-slide">
                                <a th:href="@{~/product-view(productid=${obj.id})}" class="direction-reveal__card" th:each="obj:${jiudian}">
                                    <img th:src="${obj.simageurl}" class="img-fluid smallimg" th:alt="${obj.salt}">
                                    <h2 th:text="${obj.sname}"></h2>
                                    <p th:text="${obj.sprofiles}"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="common/layout::footer" th:remove="tag"></div>
<script th:src="@{~/pub/js/bundle.js}"></script>
<script th:src="@{~/pub/js/zoom.js}"></script>
</body>

</html>