<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{~/pub/css/admin.css}"/>
    <div th:include="common/office::css" th:remove="tag"></div>
    <div th:include="common/office::js" th:remove="tag"></div>
    <script>
        function addPicture() {
            var picture="<div class=\"layui-col-xs3\" th:each=\"obj:${page}\">\n" +
                "            <div class=\"grid-demo\">\n" +
                "                <div class=\"img-list\" onclick=\"openSubmit('编辑','/productinfo/detail?sproductid=[[${sproductid}]]','500px','300px')\">\n" +
                "                    <img src=\"../pub/images/no-photo.jpg\">\n" +
                "                </div>\n" +
                "            </div>\n" +
                "        </div>";

            $('div [data-id="picture"]').last().after(picture);

        }
    </script>
</head>

<body>
<div class="add-img">
    <button onclick="addPicture()"  class="layui-btn layui-btn-sm layui-btn-normal left10"><i class="layui-icon">&#xe654;</i>增加图片</button>
    <span class="red left5">*上传图片大小为1118*715</span>
    <div class="layui-row">
        <div class="layui-col-xs3" data-id="picture" th:each="obj:${page}">
            <div class="grid-demo">
                <div class="img-list" th:attr="data-id=${obj.id}"  onclick="openSubmit('编辑','/productinfo/detail?id='+$(this).attr('data-id'),'500px','300px')">
                    <img th:src="${obj.simageurl}">
                </div>
                <p th:text="${obj.sname}"></p>
            </div>
        </div>
        <div data-id="picture" hidden></div>
    </div>
</div>

</body>

</html>