
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.admin{
    padding:50px 30px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.08);
    min-height: 120px;
    background: #fff;
    position: relative;
}
.admin h3{
    position: absolute;
    font-size: 200px;
    color:#333;
    opacity: 0.1;
    right: 10px;
    top:20px;
}
.admin .logo{
    padding-left: 150px;
    position: relative;
    padding-top: 12px;
}
.admin .logo p{
  color:#999;
  margin-bottom: 10px;
}
.admin .logo label{
    color:#fff;
    font-size: 14px;
    padding: 0 2px;
    margin-left: 5px;
    background: -webkit-linear-gradient(left, #81cdfa ,#629df8);
    background: -o-linear-gradient(right, #81cdfa ,#629df8);
    background: -moz-linear-gradient(right, #81cdfa ,#629df8);
    background: linear-gradient(to right, #81cdfa ,#629df8);
}
.admin .logo a{
    color:#333;
    font-size: 14px;
}
.admin .logo .logo-img{
  position: absolute;
  left:0;
  top:0;
  width:120px;
  height: 120px;
  background: #f2f2f2;
  border-radius: 3px;
}
.admin .logo .logo-img img{
  width: 88%;
  display: block;
  margin: 20px auto;
  margin-top: 40px;
}
.admin .logo .logo-img p{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height:22px;
  text-align: center;
  line-height: 22px;
  background: rgba(0,0,0,0.2);
  color:#fff;
}
.admin .logo a.enter{
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 80px;
    padding: 0;
    margin-right: 10px;
    color: white;
    background-color: #5874d8;
    border: 1px solid #5874d8;
    display: block;
    color:#fff;
}
.gkDiv {
    margin-top: 28px;
    margin-bottom: 5px;
}
.gkDiv .gk1 {
    width: 20px;
    background: url(../../pub/images/icon-center.png) no-repeat -3223px -76px;
    margin-right: 8px;
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
}
.gkDiv .gk2 {
    font-size: 16px;
    width: 65px;
    margin-right: 70px;
    color: #333;
    cursor: default;
    margin-top: 20px;
    vertical-align: middle;
}
.grid-demo{
    padding: 10px;
}
.grid-demo-bg1{
    background: #b491e8;
    min-height: 120px;
    padding: 20px;
    position: relative;
}
.grid-demo-bg2{
    background: #f3ac9b;
    min-height: 120px;
    padding: 20px;
    position: relative;
}
.grid-demo-bg3{
    background: #94c3f3;
    min-height: 120px;
    padding: 20px;
    position: relative;
}
.grid-demo-bg4{
    background: #8695ec;
    min-height: 120px;
    padding: 20px;
    position: relative;
}
.grid-demo h2{
    color:#fff;
    font-size: 18px;
}
.grid-demo img{
    position: absolute;
    width: 120px;
    top: 30px;
    right: 10px;
    opacity: 0.5;
}
.layui-form-item .img-con{
    display: inline-block;
    width:200px;
    height: 160px;
    border:1px solid #dcdcdc;
}
.layui-form-item .img-con img{
    height:100%;
    width: 100%;
}
.admin-plus{
    padding:30px 20px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.08);
    min-height: 120px;
    background: #fff;
}
.admin-plus textarea{
    width: 100%;
    min-height: 52px;
    border:1px solid #e6e6e6;
    padding: 5px 10px!important;
    box-sizing: border-box;
    height: auto;
}
.layui-layout-admin .layui-footer{
    text-align: right;
}