.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.align-rg{
  text-align: right;
}
.align-le{
  text-align: left;
}
.align-mid{
  text-align: center;
}
.red{
  color:#ff0000;
}
.left10{
  margin-left: 10px;
}
.left5{
  margin-left: 5px;
}