<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body th:fragment="pagination">

    <if th:if="${page.totalPages ne 0}">
    <div id="page" class="align-mid">
        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
            <a id="prevfirst" href="javascript:;" class="layui-laypage-prev" data-page="" onclick="lastPage(this)">上一页</a>
            <a href="javascript:;" class="layui-laypage-next" data-page="" onclick="nextPage(this)">下一页</a>
        </div>
    </div>
    </if>
    <script>

        $(document).ready(function () {
            for(var i=[[${page.totalPages}]];i>0;i--){
                var item='<a href="javascript:;" data-page="'+i+'" onclick="jumpPage('+(i-1)+')">'+i;
                if([[${page.number+1}]]==i){
                    item='<span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>'+i+'</em></span>';
                }
                $("#prevfirst").after(item);
            }

        });

        function jumpPage(page) {
            $('#searchForm').children("input[name='page']").val(page);
            $('#searchForm').submit();
        }

        function lastPage(obj) {
            if([[${!page.first}]]){
               return jumpPage([[${page.number-1}]]);
            }
        }
        
        function nextPage(obj) {
            if([[${!page.last}]]){
                return jumpPage([[${page.number+1}]]);
            }
        }

    </script>

</body>
</html>