<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{~/pub/css/admin.css}"/>
    <div th:include="common/office::css" th:remove="tag"></div>
    <div th:include="common/office::js" th:remove="tag"></div>
</head>

<body>
<form id="submitForm" class="layui-form" th:action="@{~/ttk/save}" method="post">
    <div class="layui- top30 pd-rg50">
        <div class="layui-form-item">
            <label class="layui-form-label">关键词（多个关键词用逗号隔开）:</label>
            <div class="layui-input-block">
                <input type="text" name="skeywords" th:value="${ttk.skeywords}" maxlength="100" lay-verify="required"  class="layui-input">
                <input type="hidden" name="id" th:value="${ttk.id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">描述:</label>
            <div class="layui-input-block">
                <textarea  name="sdescription" th:text="${ttk.sdescription}" maxlength="100" lay-verify="required"  class="layui-input"></textarea>
            </div>
        </div>



    </div>


</form>



</body>

</html>