<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{sys/layout}">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{~/pub/css/admin.css}"/>
    <link type="image/x-icon" th:href="@{~/pub/images/favicon.ico}" rel="shortcut icon">
    <style>
        .layui-layout-admin .layui-body{
            background: #f6f6f6;
        }
    </style>
</head>
    <div layout:fragment="content" class="layui-body layui-tab-content">

        <div class="admin">
            <h3>Kuink</h3>
            <div class="logo">
                <div class="logo-img">
                    <img th:src="@{~/pub/images/logo.png}">
                    <p>Logo</p>
                </div>
                <p>上海逵坤建筑工程有限公司<label>官网</label></p>
                <p>网址：<a href="http://xy-studio.cn:5810/index" target="_blank">http://xy-studio.cn:5810/index</a></p>
                <a class="enter" href="http://xy-studio.cn:5810/index" target="_blank">进入官网</a>
            </div>
        </div>
        <div class="gkDiv">
            <span class="gk1"></span>
            <span class="gk2">常用功能</span>
        </div>
        <div class="admin-plus">
            <div class="layui-row">
                <div class="layui-col-xs4">
                    <div class="grid-demo">
                        <a href="">
                        <div class="grid-demo-bg1">
                            <h2>Banner</h2>
                            <img th:src="@{~/pub/images/link-img1.png}">
                        </div>
                        </a>
                    </div>
                </div>
                <div class="layui-col-xs4">
                    <div class="grid-demo">
                        <a  th:href="@{~/product/list(laythis='anli',type=10)}">
                        <div class="grid-demo-bg2">
                            <h2>案例</h2>
                            <img th:src="@{~/pub/images/link-img2.png}">
                        </div>
                        </a>
                    </div>
                </div>
                <div class="layui-col-xs4">
                    <div class="grid-demo">
                        <a href="">
                        <div class="grid-demo-bg3">
                            <h2>友情链接</h2>
                            <img th:src="@{~/pub/images/link-img3.png}">
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gkDiv">
            <span class="gk1"></span>
            <span class="gk2">网站参数</span>
        </div>
        <div class="admin-plus">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">网站全称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="title" autocomplete="off" value="上海逵坤建筑工程有限公司" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">网站地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="title" autocomplete="off" value="http://localhost:5810/index" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Keywords</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="title" autocomplete="off" value="上海逵坤建筑工程有限公司、逵坤建筑、装修设计、" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Description</label>
                    <div class="layui-input-block">
                        <textarea>沃规划设计师和景观设计师，以艺术美学结合建筑科技展现现代建筑空间，专注于城市商业综合体改造设计、商业业态调整、购物中心设计改造等，为业主提供高效优质的设计服务。</textarea>
                    </div>
                </div>
                <div class="align-rg">
                    <button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe605;</i> 提交保存</button>
                </div>
            </form>
        </div>

    </div>











</html>