<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{sys/layout}">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{~/pub/css/admin.css}"/>

</head>
    <div layout:fragment="content" class="layui-body layui-tab-content">

        <div class="admin">
            <div class="logo">
                <div class="logo-img">
                    <img th:src="@{~/pub/images/logo.png}">
                    <p>Logo</p>
                </div>
                <p>上海逵坤建筑工程有限公司<label>官网</label></p>
                <p>网址：<a href="http://xy-studio.cn:5810/index" target="_blank">http://xy-studio.cn:5810/index</a></p>
            </div>
        </div>

    </div>











</html>