<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="image/x-icon" th:href="@{~/pub/images/favicon.ico}" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{~/pub/css/define.css}"/>
    <link rel="stylesheet" th:href="@{~/pub/css/admin.css}"/>
    <div th:include="common/office::css" th:remove="tag"></div>
    <div th:include="common/office::js" th:remove="tag"></div>
    <div th:include="common/office::init" th:remove="tag"></div>
    <script th:include="common/msg::msg"></script>

</head>

<body>
<sys th:if="${msg!=null}"><i th:id="systemMsg" th:attr="data-status=${msg.status}" th:text="${msg.msg}" hidden></i></sys>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img width="140" th:src="@{~/pub/images/logo-white.png}"></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item"><a href="admin.html">用户列表</a></li>-->
            <!--<li class="layui-nav-item"><a href="member.html">会员列表</a></li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <i th:text="${session.operator.soperatorname}"></i>
                </a>
            </li>
            <li class="layui-nav-item"><a th:href="@{~/sys/logout}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a th:href="@{/sys/index}"><i class="layui-icon right5">&#xe614;</i>控制台</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon right5">&#xe612;</i>账户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{~/operator/list(laythis='yuangong')}"><i class="layui-icon right5">&#xe613;</i>员工列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon right5">&#xe629;</i>首页参数配置</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{~/banner/list(type=10)}"><i class="layui-icon right5">&#xe674;</i>banner轮播</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{~/banner/list(type=20)}"><i class="layui-icon right5">&#xe639;</i>工程施工案例</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{~/interlink/list}"><i class="layui-icon right5">&#xe64c;</i>友情链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed" >
                    <a href="javascript:;"><i class="layui-icon right5">&#xe64a;</i>案例管理</a>
                    <dl class="layui-nav-child">
                        <dd><a  th:href="@{~/product/list(laythis='anli',type=10)}"><i class="layui-icon right5">&#xe639;</i>办公楼厂房</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a  th:href="@{~/product/list(laythis='anli',type=20)}"><i class="layui-icon right5">&#xe639;</i>商业装修</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a  th:href="@{~/product/list(laythis='anli',type=30)}"><i class="layui-icon right5">&#xe639;</i>餐饮装修</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a  th:href="@{~/product/list(laythis='anli',type=40)}"><i class="layui-icon right5">&#xe639;</i>酒店装修</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" >
                    <a href="javascript:;"><i class="layui-icon right5">&#xe7ae;</i>TTK配置</a>
                    <dl class="layui-nav-child">
                        <dd><a><i class="layui-icon right5">&#xe674;</i>首页</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a><i class="layui-icon right5">&#xe60b;</i>关于逵坤</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a><i class="layui-icon right5">&#xe64d;</i>服务领域</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a><i class="layui-icon right5">&#xe64a;</i>工程案例</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a><i class="layui-icon right5">&#xe705;</i>逵坤理念</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a><i class="layui-icon right5">&#xe715;</i>联系我们</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--主体插入位置-->
    <div layout:fragment="content"></div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 上海逵坤建筑工程有限公司
    </div>
</div>



</body>





</html>